@model RDTH.Models.FaqViewModel.FaqIndexModel
@{
    ViewData["Title"] = "FAQ's";
}

<h2>FAQ's</h2>
<hr />

<div class="row">
    @foreach (var faq in Model.Faqs)
    {
        <div class="col-md-11">
           <h5 style="font-weight:bold">Question: @faq.Question</h5>
           <h5>Ans: @faq.Answer</h5>
        </div>
    }
</div>

