@using Microsoft.AspNetCore.Identity
@using RDTH.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
@if (User.IsInRole("User"))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Package" asp-action="MyPackage">MyPackage</a></li>
        <li><a asp-area="" asp-controller="Setbox" asp-action="Index">SetBox</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Recharge</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Payments</a></li>
        <li><a asp-area="" asp-controller="Mod" asp-action="Index">Book Movie</a></li>
        <li><a asp-area="" asp-controller="Feedback" asp-action="">FeedBack</a></li>
        <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
        <li><a asp-area="" asp-controller="CustomerCare" asp-action="">Locate Dealer</a></li>
    </ul>
}
@if (User.IsInRole("Distributer"))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Setbox" asp-action="Index">SetBox</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">My Orders</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">My Payments</a></li>
        <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="glyphicon glyphicon-shopping-cart"> </i><span class="badge">0</span></a></li>
    </ul>
}
@if (User.IsInRole("Dealer"))
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Setbox" asp-action="Index">SetBox</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">My Orders</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact">My Payments</a></li>
        <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
        <li><a asp-area="" asp-controller="CustomerCare" asp-action="Distributers">Locate Distributers</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="Contact"><i class="glyphicon glyphicon-shopping-cart"> </i><span class="badge">0</span></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Package" asp-action="Index">Packages</a></li>
        <li><a asp-area="" asp-controller="Setbox" asp-action="Index">SetBox</a></li>
        <li><a asp-area="" asp-controller="Home" asp-action="About">Recharge</a></li>
        <li><a asp-area="" asp-controller="Feedback" asp-action="">FeedBack</a></li>
        <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
        <li><a asp-area="" asp-controller="CustomerCare" asp-action="">Customer Care</a></li>
    </ul>
}
