@using Microsoft.AspNetCore.Identity
@using RDTH.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("User"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Package" asp-action="MyPackage">MyPackage</a></li>
            <li><a asp-area="" asp-controller="Recharge" asp-action="">Recharge</a></li>
            <li><a asp-area="" asp-controller="Recharge" asp-action="History">Recharge History</a></li>
            <li><a asp-area="" asp-controller="Mod" asp-action="Index">Book Movie</a></li>
            <li><a asp-area="" asp-controller="Feedback" asp-action="">FeedBack</a></li>
            <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
            <li><a asp-area="" asp-controller="CustomerCare" asp-action="">Locate Dealer</a></li>
        </ul>
    }
    @if (User.IsInRole("Distributer"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Setbox" asp-action="Index">SetBox</a></li>
            <li><a asp-area="" asp-controller="Order" asp-action="DistributerOrder">My Orders</a></li>
            <li><a asp-area="" asp-controller="Payment" asp-action="DistributerPayment">My Payments</a></li>
            <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
            <li>
                @await Component.InvokeAsync("CartTotalItems")
            </li>
        </ul>
    }
    @if (User.IsInRole("Dealer"))
    {
        <ul class="nav navbar-nav">
            <li><a asp-area="" asp-controller="Setbox" asp-action="Index">SetBox</a></li>
            <li><a asp-area="" asp-controller="Order" asp-action="DealerOrder">My Orders</a></li>
            <li><a asp-area="" asp-controller="Payment" asp-action="DealerPayment">My Payments</a></li>
            <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
            <li><a asp-area="" asp-controller="CustomerCare" asp-action="Distributers">Distributers</a></li>
            <li><a asp-area="" asp-controller="SetBox" asp-action="CustomerSetBoxRequest">SetBox Requests</a></li>
            <li>
                @await Component.InvokeAsync("CartTotalItems")
            </li>
    </ul>
}
}
else
{
    <ul class="nav navbar-nav">
        <li><a asp-area="" asp-controller="Package" asp-action="Index">Packages</a></li>
        <li><a asp-area="" asp-controller="Setbox" asp-action="Index">SetBox</a></li>
        <li><a asp-area="" asp-controller="Recharge" asp-action="">Recharge</a></li>
        <li><a asp-area="" asp-controller="Feedback" asp-action="">FeedBack</a></li>
        <li><a asp-area="" asp-controller="Faq" asp-action="Index">FAQ</a></li>
        <li><a asp-area="" asp-controller="CustomerCare" asp-action="">Customer Care</a></li>
    </ul>
}
