@using Microsoft.AspNetCore.Identity
@using RDTH.Models
@model RDTH.Models.PackageViewModel.PackageDetailViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("User"))
    {
        <a asp-controller="Package" asp-action="ChangePackage" asp-route-PackageId="@Model.Id" class="btn btn-danger">Change Package</a>
    }
    @if (User.IsInRole("Distributer"))
    {
    }
    @if (User.IsInRole("Dealer"))
    {
    }
}
else
{
    <a asp-area="" asp-controller="Subscribe" asp-action="" class="btn btn-default">Subscribe</a>
}
