@model RDTH.Models.PackageViewModel.PackageDetailViewModel
@{
    ViewData["Title"] = "Change Package";
}

<h2>Change Package</h2>

<div class="row">
    <div class="jumbotron">
        <h2>Do You want to change your corrent Package to <span class="text-info">@Model.PackageName</span> ?</h2>
        <h3>After package change you need to recharge your package for continous use of service.</h3>
        <h4>Thank You for choosing our Service</h4>
        <form asp-action="ChangePackage" method="post">
            <input type="hidden" asp-for="@Model.Id" />
            <input type="submit" class="btn btn-default" value="Yes" /> | <a asp-action="Index" class="btn btn-warning">No</a>
        </form>
    </div>
</div>