@model RDTH.Models.PackageViewModel.PackageIndexViewModel

@{
    ViewData["Title"] = "Packages";
}

<h2>RDTH Dish TV Packages</h2>

<div class="row">
    @foreach (var package in Model.PackagesDetailList)
    {
        @await Html.PartialAsync("_PackagePartial",package)
    }
</div>




