<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewData["Title"] - R-DTH Admin Panel</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/sb-admin.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="~/css/plugins/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="~/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">R-DTH Admin Panel</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active">
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-plus"></i>New Subscription</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-fw fa-user"></i> Dealers</a>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-user"></i> Distributers</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-users"></i> Customers Accounts</a>
                    </li>
                    <li>
                        <a href="bootstrap-grid.html"><i class="fa fa-fw fa-credit-card"></i> Account Cards</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-bar-chart-o"></i> Orders</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-dollar"></i> Payments</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-dollar"></i> Recharge Details</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-edit"></i> Packages</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-edit"></i> SetBox</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-facebook"></i> FAQ</a>
                    </li>
                    <li>
                        <a href="charts.html"><i class="fa fa-fw fa-reply"></i> FeedBacks</a>
                    </li>

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
        <div id="page-wrapper">
            <div class="container-fluid">
                @RenderBody()
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Morris Charts JavaScript -->
    <script src="~/js/morris.js"></script>
    <script src="~/js/raphael.min.js"></script>
    <script src="~/js/morris-data.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
