@using Microsoft.AspNetCore.Identity
@using RDTH.Models


@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    using (Html.BeginForm("Logout", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="margin-right:50px">
            <li>
                @Html.ActionLink(UserManager.GetUserName(User), "Index", "Manage")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log Out</a></li>
        </ul>
    }
}
