@using Microsoft.AspNetCore.Identity
@using RDTH.Models
@model RDTH.Models.SetBoxViewModel.SetBoxDetailModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("User"))
    {
        <a asp-controller="Setbox" asp-action="ChangeSetBox" asp-route-setBoxId="@Model.Id" class="btn btn-default">Change SetBox</a>
    }
    @if (User.IsInRole("Distributer"))
    {
        <form asp-controller="Cart" asp-action="AddToCart">
            <input type="hidden" asp-for="Id"/>
            <input type="number" id="qty" name="qty" value="1" min="1" max="20" class="form-control" style="width:80px;font-weight:bolder" /><br />
            <input type="submit" value="Add to Cart" class="btn btn-danger"/>
        </form>
    }
    @if (User.IsInRole("Dealer"))
    {
        <form asp-controller="Cart" asp-action="AddToCart">
            <input type="hidden" asp-for="Id" />
            <input type="number" id="qty" name="qty" value="1" min="1" max="20" class="form-control" style="width:80px;font-weight:bolder" /><br />
            <input type="submit" value="Add to Cart" class="btn btn-danger" />
        </form>
    }

}
else
{
    <a asp-area="" asp-controller="Subscribe" asp-action="" class="btn btn-default">Subscribe</a>
}