
@{
    ViewData["Title"] = "AlreadyApplied";
}
<div class="jumbotron">
    <h2 class="text-warning">Dear Customer You Have already applied to change you current SetBox</h2>
    <h3 class="text-info">Our Dealers Will Contact you after Admin Approval</h3>
    <h4>Thanks for using our service</h4>
    <a asp-action="index">Back</a>
</div>

