@model RDTH.Models.SetBoxViewModel.SetBoxIndexModel
@{
    ViewData["Title"] = "Index";
}

@if (ViewBag.success == "success")
{
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-info alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  <strong>@ViewBag.msg</strong>
            </div>
        </div>
    </div><br />
}
@if (ViewBag.OrderPlaced == "success")
{
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="fa fa-info-circle"></i>  <strong>@ViewBag.OrderMsg</strong>
            </div>
        </div>
    </div><br />
}

<h2>Our SetBox Devices</h2>

<div class="row">
    @foreach (var setBox in Model.SetBoxList)
    {
        @await Html.PartialAsync("_SetBoxPartial", setBox)
    }
</div>


